@page
@model LongshoreFactor.Pages.BusinessModel
@{
}

<h2 class="text-center">Please choose the business that best describes the employer:</h2>

<div class="mt-4 container d-flex justify-content-center">
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        @foreach(var option in Model.InitialOptions)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>

    <div class="mt-4" id="questions" style="display: none">

    </div>

    <div class="mt-4" id="answers" style="display: none">
        
    </div>
</div>

@section Scripts {
    <script>
        // Your page-specific JavaScript code here
    </script>
}