@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">The Longshore Factor</h1>
        <h5>This website is designed to provide a quick and easy way to evaluate if an employer has an exposure to Longshore (U.S.L.& H.) or any of the Admirality remedies for their marine employees.</h5>
    </div>
</div>

<div class="row mt-4 align-items-center">
    <div class="col-sm-12 col-md-6">
        <img src="~/image/cargoship.jpg" class="img-fluid" alt="Cargo Ship" />
    </div>
    <div class="col-sm-12 col-md-6 text-center my-4">
        <h5>
            Please note this site has now been updated to reflect the changes passed into law on Feb 17th 2009.
        </h5>
        <h5>
            For more information on the 2009 reform go to <a href="http://www.ligmarine.com/?uslh_org" target="_blank">www.USLH.org</a>
        </h5>
    </div>
</div>

<div class="text-center mt-4">
    <p>By entering this site, I confirm that I understand that this is a general opinion based on the information provided and is not in any way a legal opinion</p>
    <div class="d-grid d-flex justify-content-around">
        <a class="btn btn-lg btn-primary" asp-page="Business">I accept</a>
        <a class="btn btn-lg btn-primary" href="https://ligmarine.com">I do not accept</a>
        @* <button type="button" class="btn btn-lg btn-primary">I accept</button>
        <button type="button" class="btn btn-lg btn-primary">I do not accept</button> *@
    </div>
</div>




