@page
@model LongshoreFactor.Pages.LongshoreLinksModel
@{
}

<h1 class="text-center">Useful Longshore Links</h1>

<div class="text-center mt-4">
    <p><a href="https://liginsurance.com/longshorereact.asp"> Searchable copy of the Longshore & Harbor Workers Compensation Act</a></p>
    <p><a href="https://ligecs.com">Longshore Training and Resources</a></p>
    <p><a href="https://uslhcarriers.liginsurance.com">Approved Longshore Carriers</a></p>
    <p><a href="https://dol.gov/esa/owcp/dlhwc/lstable.htm">U.S. DOL Longshore Division Website</a></p>
    <p><a href="https://dol.gov/esa/owcp/dlhwc/lsforms.htm">LONGSHORE FORMS</a> from the U.S. DOL</p>
</div>

